# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Packwiz local caches / exports
pack/.packwizignore-cache/
pack/*.mrpack
pack/*.zip
pack/index.toml.bak

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
